body{
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}
.container{
	width: 100%;
	padding: 0 15px;
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
}
.c-c{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.c-s{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
}
.c-e{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	align-content: center;
}
.header-inner,.header-cta{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.welcom-animation{
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 0;
}
.welcom-title{
	font-size: 3rem;
	text-align: center;
	z-index: 100;
	max-width: 700px;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 2rem;
}
.like-h1{
	font-size: 3rem;
}

.title-color{
	color: #353541;

}


.navigation ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.navigation ul li a{
	line-height: 1rem;
	padding: 0.75rem;
	color: #646671;
}

.header{
	padding: 1rem 0rem;
}
.header-cta > * + *{
	margin-left: 0.625rem;
}
.welcom{
	background: url('../img/map-bg.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.welcom-content{
	padding-top: 20vh;
	padding-bottom: 40vh;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
	position: relative;
	z-index: 100;
}

.login-link{
	color: #3796F6;
	font-weight: 700;
}
.solid-icon{
	background: #3796F6;
	border-radius: 0.25rem;
	outline: none;
	border: none;color: #ffffff;
	padding:  0.625rem  1.375rem  0.625rem  0.625rem;
	transition: 200ms ease-in;
	transition-property: transform;
}
.solid-hidden{
	padding:  0.625rem  1.375rem  0.625rem  0.625rem;
	transition: 200ms ease-in;
	transition-property: background;
	border-radius: 0.25rem;
	background: transparent;
}
.solid-hidden:hover{
	color: #3796F6;
	background: #EEF6FF;
}
.solid-icon:hover{
	cursor: pointer;
	color: #ffffff;
	transform: translate(0,-3px);
}
.solid-icon:active{
	outline: none;
	transform: scale(0.93);
}
.icon{
	width: 1.25rem;
	height: 1.25rem;
	flex: 0 0 1.25rem;
	margin-right: 0.625rem;
}
.icon > span{
	font-size: 1.25rem;
}
.contuct-us > .icon{
	animation: ripple 1.5s linear infinite;
	border-radius: 20px;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}



/* modal */
.close-form-button{
	width: 2rem;
	height: 2rem;
	flex: 0 0 2rem;
	border-radius: 0.125rem;
	background: #F5F6FA;
	color: #3796F6;
	transition: 200ms ease-in;
	transition-property: color, background;
	border: none;
}
.close-form-button:hover{
	background: #3796F6;
	color: #ffffff;
	cursor: pointer;
}
.form-modal{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 500;
	background: #ffffff;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transform: scale(0.9);
	transition: 200ms cubic-bezier(0, 0.9, 0.4, 1);
	transition-property: transform,opacity,visibility;
}
.form-modal.visible{
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}
.modal-dialog{
	position: relative;
	width: auto;
	pointer-events: none;
	margin: 1.75rem auto;
}

.modal-content{
	position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
}

.form-body .like-h1{
	margin-bottom: 2rem;
}
.form-content legend{
	font-size: 1rem;
	margin-bottom: 0.75rem;
}

.form-body-inner{
	display: flex;
	flex-wrap: wrap;
}
.form-quote-text{
	font-size: 1.5rem;
	font-weight: 700;
}
.form-quote-inner{
	max-width: 28rem;
	padding-left: 4rem;
	margin-top: 1.75rem;
}
.quote-author{
	display: block;
	font-size: 1.2rem;
}
.quote-author-descr{
	color: #646671;
	font-size: 0.9rem;
}
.form-content,.form-quote{
	flex: 0 0 50%;
	max-width: 50%;
	width: 100%;
}
.fieldset-inner{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
	margin-bottom: 2rem;
}


.form-radio input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.form-radio{
	flex: 0 0 20%;
	max-width: 20%;
	width: 100%;
	padding: 0 4px;
}
.form-radio label{
	padding: 0.85rem;
	border: 1px solid #E8E8E8;
	border-radius: 0.5rem;
	width: 100%;
	margin-bottom: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 0.9rem;
	line-height: 1.2;
	transition: 150ms ease-in;
	transition-property: color, border, box-shadow;
	box-shadow: 0 0 0 0.5px transparent;
}
.form-radio label:hover{
	border-color: #b6b6b6;
	cursor: pointer;
}
.form-radio input:checked + label{
	border: 1px solid #3796F6;
	color: #3796F6;
	box-shadow: 0 0 0 0.5px  #3796F6;
}
.form-radio .icon{
	width: 2rem;
	height: 2rem;
	flex: 0 0 2rem;
	margin-right: 0;
	margin-bottom: 1rem;
}
.form-radio input:checked{
	color: #3796F6;
}
.form-radio .icon > span{
font-size: 1.75rem;
color: #b6b6b6;
}
.form-radio input:checked + label > .icon > span{
	color: #3796F6;
}


/* input */
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  border-radius: 3px;
	margin-bottom: 0.75rem;
}
.inp .label {
  position: absolute;
  top: 1.125rem;
  left: 1.125rem;
  font-size: 1rem;
  font-weight: 400;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
	pointer-events: none;
	color: #353541;
}

.inp input {
  width: 100%;
  border: 0;
  padding:1rem 1.125rem 0 1.125rem;
  height: 4rem;
  font-size: 1rem;
  font-weight: 600;
 border: 1px solid #E8E8E8;
  color: #353541;
	transition: all 0.15s ease;
	border-radius: 0.125rem;
	box-shadow: 0 0 0 0.5px  transparent;
}
.inp input:hover {
  background: rgba(0, 0, 0, 0.01);
}
.inp input:not(:placeholder-shown) + .label {
  transform: translate3d(0, -0.75rem, 0) scale(0.75);
}
.inp input:focus {
	outline: none;
	border: 1px solid #0077FF;
	box-shadow: 0 0 0 0.5px  #0077FF;
}
.inp input:focus + .label {
  color: #0077FF;
  transform: translate3d(0, -0.75rem, 0) scale(0.75);
}

/* form-textarea */
.form-textarea{
  position: relative;
}
.form-textarea .input-textarea{
	position: relative;
	padding:1.5rem 1.125rem 0 1.125rem;
	width: 100%;
	height: 7rem;
	resize: none;
  font-size: 1rem;
  font-weight: 600;
 border: 1px solid #E8E8E8;
  color: #353541;
	transition: all 0.15s ease;
	border-radius: 0.125rem;
	box-shadow: 0 0 0 0.5px  transparent;
}


.inp textarea:hover {
  background: rgba(0, 0, 0, 0.01);
}
.inp textarea:not(:placeholder-shown) + .label {
  transform: translate3d(0, -0.75rem, 0) scale(0.75);
}
.inp textarea:focus {
	outline: none;
	border: 1px solid #0077FF;
	box-shadow: 0 0 0 0.5px  #0077FF;
}
.inp textarea:focus + .label {
  color: #0077FF;
  transform: translate3d(0, -0.75rem, 0) scale(0.75);
}


.submit-text{
	display: block;
	margin-bottom: 2rem;
	font-size: 0.8rem;
}
.privace-link{
	color: #3796F6;
	border-bottom:1px solid #3796F6;
	transition: 200ms ease-in;
	transition-property:border-bottom, opacity;
	opacity: 1;
}
.privace-link:hover{
	border-bottom: 1px solid transparent;
	color: #3796F6;
	opacity: 0.7;
}